<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../../assets/GS_logo.png" alt="GS_logo" class="img-responsive imgGS">
    <a class="navbar-brand font-weight-bold" href="#">Gobind Sarvar Fresno</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link font-weight-bold" href="#" [routerLink]="''">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#" [routerLink]="'resources'">Resources</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#" [routerLink]="'schoolInfo'">School Info</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#" [routerLink]="'events'">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#" [routerLink]="'contact'">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="'signIn'" type="button">Sign In</button>
          </form>
    </div>
</nav>