<div class="container">
    <h1 class="text-center RecHeading">Welcome to Gobind Sarvar Fresno Resouces!</h1>
</div>
<div class="container">
    <ul class="listItem text-decoration-none text-center containBox">
        <li>
            <a class="nav-link font-weight-bold indItem" href="#" routerLink="/gurmukhi">Gurmukhi</a>        
        </li>
        <li>
            <a class="nav-link font-weight-bold indItem" href="#" routerLink="/lkc">Little Khalsa Club</a>
        </li>
        <li>
            <a class="nav-link font-weight-bold indItem" href="#" routerLink="/gsRec">Gobind Sarvar Resources</a>
        </li>
    </ul>
</div>
