<div class="container">
        <h2 class="homeHeading text-center font-italic shadow p-3 mb-5 rounded">We are Gobind Sarvar, developing "Today's Learner... Tomorrow's Guide"</h2>
</div>
<div class="container backColor center-text shadow p-3 mb-5 rounded">
        <h1 class="font-weight-bold">Gobind Sarvar News</h1>
        <h2 class="fontColor">Gobind Sarvar Fresno will be conducting classes online until further notice.</h2>
        <h2 class="fontColor">Please visit the Resources section for course material.</h2>
</div>
<div class="container backColor2 shadow p-3 mb-5 rounded">
    <h2 class="text-center">Global Gobind Sarvar Events</h2>
    <h3 class="moveDown text-center">Link: 
        <a class="text-decoration-none textLink" 
        href="https://linktr.ee/gsglobalevents" 
        target="_blank">GS Global Events</a></h3>
    <div class="row">
        <div class="col text-center">
          <h2>Prem Bheta</h2>
          <h4>Date: July 12th -19th</h4>
        </div>
        <div class="col text-center">
          <h2>Power Weekend</h2>
          <h4>Date: July 27th -28th</h4>
        </div>
</div>